﻿@using Kitapci.Models;
@model Kitapci.Models.tbl_book

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="home-page">
<div class="content">
<div class="home-slider outer-bottom-vs">
<!-- ========================================== SECTION – HERO : START ========================================= -->
@Html.Action("Slider","Shared");
<!-- ========================================== SECTION – HERO : END ========================================= -->	
    </div><!-- /.home-slider -->
<div class="container">



    @Html.Action("BestSeller","Shared")
</div><!-- /.container -->

   @Html.Action("Comment","Shared")

<section class="latest-product wow fadeInUp">
<div id="latest-product" class="module container inner-top-xs">
<div class="module-heading home-page-module-heading inner-bottom-vs">
<h2 class="module-title home-page-module-title"><span>Latest Books</span></h2>
</div>
<div class="module-body">
<!-- ============================================== LATEST BOOKS ============================================== -->
<div class="book-shelf wooden-shelf">
<div class="row">
<div class="col-md-10 col-sm-10 center-block clearfix">
@foreach (tbl_book item in ViewBag.sonkitap)
{
    @Html.Partial("BookThumbPartial", item)
}


</div>
</div>
</div>

<!-- ============================================== LATEST PRODUCT : END ============================================== -->
</div>
</section>
@Html.Action("Blog","Shared")
</div><!-- /.content -->
</div><!-- /.home-page -->