﻿@using Kitapci.Models;

@model IEnumerable<Kitapci.Models.tbl_book_comment>

<div class="module wow fadeInUp" id="customer-reviews">
<div class="module-heading home-page-module-heading margin-top-10">
<h2 class="module-title home-page-module-title "><span>From Readers(3)</span></h2>
</div>
<!-- .customer reviews -->
<div class="module-body inner-top-xs" id="reviews">
<ul class="list-unstyled review-list">

    @foreach(tbl_book_comment item in Model)
    {
        
  
<li class="box effect">
<section class="paper">
<div class="tape"></div>
<div class="head"></div>
<div class="row review-content">
<div class="col-md-2 col-sm-2">
<div class="customer-image-text"></div>
</div>
<div class="col-md-10 col-sm-10">
<h5 class="customer-name inner-right-xs">@item.tbl_user.Name</h5>
<p class="posted-date">@item.Date</p>
<p class="text">@item.Comment</p>
<a href="#" class="reply-review">Reply</a>
</div>
</div>
<div class="bottom"></div>
</section>
</li>
  }
</ul>
</div>	<!-- /.customer reviews -->
</div>
