﻿@using Kitapci.Models
@model IEnumerable<Kitapci.Models.tbl_blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="content">
<div class="breadcrumb-inner light-bg">
<div class="container">
<div class="row">
<ul class="breadcrumb text-center light-bg">
<li><a href="index.php?page=home">Home</a></li>
<li class="active">Blog</li>
</ul><!-- /.breadcrumb -->
</div><!-- /.row -->
<div class="divider">
<img class="img-responsive" src="/Content/images/blog/shadow.png.pagespeed.ce.z1swr10_K4.png" alt="" 256750320" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)">
</div><!-- /.divider -->
</div><!-- /.container -->
</div><!-- /.breadcrumb-inner -->
<div class='container'>
<div class="row inner-top-xs">
<div class='col-md-9'>
<!-- .blog post -->


    @foreach (tbl_blog item in Model)
    {
        
  
<div class="blog-post wow fadeInUp animated outer-bottom-sm">
<a href="/Blog/Blog-Post/@item.ID" class="blog-image"><img alt="" src="~/Content/images/blog/@item.Image" class="img-responsive"></a>
<div class="row">
<div class="col-md-9 center-block">
<div class="blog-info">
<h2 class="blog-title"> @Html.ActionLink(item.Title,"BlogDetay","Blog",new {id=item.ID},null)</h2>
<ul class="clearfix meta">
<li class="author"><a href="#">Hezy Theme</a></li>
<li class="date">@item.Date</li>
<li class="comment">42 comments</li>
</ul><!-- /.meta -->
<p class="m-t-20 blog-text">@item.Article
<a class="continue-reading" href="#">Continue Reading &rarr;</a></p>
</div><!-- /.blog-info -->
</div>
</div>
</div><!-- /.blog-post -->
  }


	<!-- /.blog post -->
</div><!-- /.col -->
<div class='col-md-3'>
<!-- .blog sidebar -->
<!-- ============================================== BLOG SIDEBAR ============================================== -->
<aside class="sidebar blog-sidebar">
<div class="widget clearfix outer-bottom-xs">
<h4 class="blog-sidebar-title">Social</h4>
<div class="body m-t-20">
<ul class="clearfix list-unstyled sidebar-social-contact list-inline">
<li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
<li><a href="#" class="fa fa-pinterest" title="Pinterest"></a></li>
<li><a href="#" class="fa fa-linkedin" title="linkedin"></a></li>
<li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
<li><a href="#" class="fa fa-google-plus" title="Google Plus"></a></li>
<li><a href="#" class="fa fa-rss" title="Rss"></a></li>
<li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
</ul><!-- /.list-unstyled -->
</div><!-- /.body -->
</div><!-- /.widget -->
 
      @Html.Action("PopularPosts","Shared")

<div class="widget clearfix outer-bottom-xs">
<h4 class="blog-sidebar-title">Text Widget</h4>
<div class="body m-t-20">
<p><span class="black-box"></span>A cras tincidunt, ut tellus et. Gravida scele risque, ipsum sed iacul is, nunc non namtellus.purus purus elit. Cras ante eros. Erat vel. Donec vestibulum sed, vel euismod donec. </p>
</div><!-- /.body -->
</div><!-- /.widget -->
<div class="widget clearfix outer-bottom-xs">
<h4 class="blog-sidebar-title">Meta</h4>
<div class="body m-t-20">
<ul class="clearfix list-unstyled category-list">
<li><a href="#">Site Admin</a></li>
<li><a href="#">Log Out</a> </li>
<li><a href="#">Enteries RSS</a></li>
<li><a href="#">Comments RSS</a></li>
<li><a href="#">Wordpress.org</a></li>
</ul><!-- /.list-unstyled -->
</div><!-- /.body -->
</div><!-- /.widget -->
<div class="widget clearfix outer-bottom-xs">
<h4 class="blog-sidebar-title">Categories</h4>
<div class="body m-t-20">
<ul class="clearfix list-unstyled category-list">
<li class="sub-menu"><a class="dropdown-toggle" data-toggle="dropdown" href="#">New Enteries (38)</a>
<ul>
<li><a href="#">Cotton Sweat (15)</a></li>
<li><a href="#">Trends (22)</a></li>
</ul>
</li>
<li><a href="#">Women Fashion (13)</a></li>
<li><a href="#">Hollywood Style (15)</a></li>
<li><a href="#">90's (6)</a></li>
<li><a href="#">Regular Fit (32)</a></li>
</ul><!-- /.list-unstyled -->
</div><!-- /.body -->
</div><!-- /.widget -->
</aside><!-- /.sidebar -->
<!-- ============================================== BLOG SIDEBAR : END ============================================== -->	<!-- /.blog sidebar -->
</div>
</div><!-- /.container -->
</div><!-- /.row -->
</div><!-- /.content --> <!-- ============================================== FOOTER ============================================== -->