﻿@using Kitapci.Models
@model IEnumerable<tbl_book_category>

<!-- ============================================== BOOKS BY SUBJECT ============================================== -->
<div class="sidebar-module">
    <div class="sidebar-module-heading">
        <h4 class="sidebar-module-title">Books by Subject</h4>
    </div>
    <div class="sidebar-module-body clearfix">
        <ul class="list-unstyled">
            @foreach (tbl_book_category item in Model)
            {
                <li><a href="/category/@item.Category">@item.Category</a></li>
            }
            
        </ul>
    </div>
</div>
<!-- ============================================== BOOKS BY SUBJECT : END ============================================== -->
