﻿@model Kitapci.Models.tbl_settings

<li><a href="@Model.FacebookURL"><i class="fa fa-facebook"></i></a></li>
<li><a href="@Model.PinterestURL"><i class="fa fa-pinterest"></i></a></li>
<li><a href="@Model.LinkedinURL"><i class="fa fa-linkedin"></i></a></li>
<li><a href="@Model.TwitterURL"><i class="fa fa-twitter"></i></a></li>
<li><a href="@Model.RSSURL"><i class="fa fa-rss"></i></a></li>
<li><a href="@Model.InstagramURL"><i class="fa fa-instagram"></i></a></li>