﻿@using Kitapci.Models;
@model IEnumerable<Kitapci.Models.tbl_book>
<!-- ============================================== BEST SELLER ============================================== -->
<section class="best-seller wow fadeInUp">
    <div id="best-seller" class="module">
        <div class="module-heading home-page-module-heading">
            <h2 class="module-title home-page-module-title"><span>Bestsellers</span></h2>
        </div>
        <!-- /.module-heading -->
        <div class="module-body book-shelf wooden-shelf">
            <div class="row books full-width">
                <div class="clearfix text-center">
                    @foreach (tbl_book item in Model)
                    {
                        @Html.Partial("BookThumbPartial", item)
                    }
                 
        
                </div>
                <div class="view-more-holder col-md-12 center-block text-center inner-top-xs">
                    <a role="button" class="btn btn-primary btn-uppercase" href="#">view more
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================================== BEST SELLER : END ============================================== -->
