﻿@using Kitapci.Models;
@model IEnumerable<Kitapci.Models.tbl_blog>

@{
    ViewBag.Title = "Blog";
}

<section class="blog wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
    <div id="blog" class="module container">
        <div class="module-heading home-page-module-heading">
            <h2 class="module-title home-page-module-title"><span>From the blog</span></h2>
        </div>
        <!-- /.module-heading -->
        <div class="module-body inner-top-50">
            <div class="row">

                @foreach (tbl_blog item in Model)
                {
                   
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 blog-image"><a href="#">
                            <img src="/Content/images/blog/thumb/@item.Image" alt="@item.Description" class="blog1" width="199" height="177" ></a></div>
                        <div class="col-md-7 col-sm-7 blog-info">
                            <h4 class="blog-heading"><a href="">@item.Title</a></h4>
                            <p class="comment-count">@(item.tbl_blog_comment.Count>5 ? item.tbl_blog_comment.Count +"comments":"")</p>
                            <p class="text">
                                @item.Description.Substring(0,130)
                                <a href="/blog/@item.ID">Read More</a>
                            </p>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col -->

                }
                




            </div>
            <!-- /.row -->
        </div>
        <!-- /.module-body -->
    </div>
    <!-- /.module -->
</section>
