﻿@using Kitapci.Models
@model tbl_book

<div class="col-md-3 col-sm-4">
    <div class="book">
        <a href="@Url.RouteUrl("BookDetail", new { id = Model.ID })">
            <div class="book-cover">
                @if (Model.ImageSmallThumbnail != null)
                {
                    <img width="140" height="212" src="@Model.ImageSmallThumbnail" alt="">
                }
                else if (Model.ImageThumbnail != null)
                {
                    <img width="140" height="212" src="@Model.ImageThumbnail" alt="">
                }
            </div>
        </a>
        <div class="book-details clearfix">
            <div class="book-description">
                <h3 class="book-title">@Html.RouteLink(@Model.Title, "BookDetail", new { id = Model.ID })</h3>
                <p class="book-subtitle">@Model.Subtitle</p>
            </div>

        </div>
    </div>
</div>