﻿@using Kitapci.Models;
@model IEnumerable<Kitapci.Models.tbl_book_category>




<div class="categories-menu-outer wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
<div class="container">
<div class="categories-menu outer-xs">
<ul class="static-menu">
<li>
<div class="menu-content">
<div class="menu-raper">
<div class="row">
    
      @foreach (tbl_book_category item in Model)
{
<div class="col-md-3 col-sm-3">
   
<div class="section">

<ul class="links list-unstyled">
     
<li><a href="index.php?page=books">@item.Category</a></li>
@*<li><a href="index.php?page=books">Bargain Books</a></li>
<li><a href="index.php?page=books">Coming Soon</a></li>
<li><a href="index.php?page=books">Featured New Arrivals</a></li>
<li><a href="index.php?page=books">B &amp; N Top 100</a></li>
<li><a href="index.php?page=books">Free Book Offer</a></li>
<li><a href="index.php?page=books">Oprah's Book Club</a></li>
<li><a href="index.php?page=books">Bookstore Home</a></li>*@
</ul>
</div><!-- /.section -->
</div><!-- /.col -->
 
}
 
</div>
</div>	</div>
</li>
</ul>
</div><!-- /.categories-menu-->
</div><!-- /.container -->
</div><!-- /.categories-menu-outer -->