@using Kitapci.Models
@model IEnumerable<Kitapci.Models.tbl_blog_comment>


<!-- ============================================== TESTIMONIAL ============================================== -->
<section class="customer-testimonial wow fadeInUp outer-bottom-xs light-bg">
    <div id="testimonial" class="module container inner-top-xs">
        <div class="module-heading home-page-module-heading">
            <h2 class="module-title home-page-module-title"><span>Latest Comments</span></h2>
        </div><!-- /.module-heading -->
        <div class="module-body">
            <div class="row">
                <div class="col-md-10 center-block">
                    <div class="row">
                        @foreach (tbl_blog_comment item in Model)
                        {
                            <div class="col-md-6 col-sm-6">
                                <div class="testimonial-block">
                                    <div class="inner-testimonial-block">
                                        <div class="blockquote">
                                            <div class="inner-left-xl">
                                                <blockquote>

                                                    <p>@item.Comment</p>

                                                </blockquote>
                                            </div><!-- /.inner-left-xl -->
                                        </div><!-- /.blockquote -->
                                    </div><!-- /.inner-testimonial-block -->
                                    <div class="row m-t-20">
                                        <div class="col-md-10 author-block center-block">
                                            <div class="row">
                                                <div class="col-md-4 col-xs-5">
                                                    <a href="/blog/@item.ID">@item.tbl_blog.Title</a>
                                                </div><!-- /.col -->
                                                <div class="col-md-8 col-xs-7">

                                                    <h5 class="author-name outer-top-xs">@item.tbl_user.Name</h5>
                                                    <span>Coca-Cola</span>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.testimonial-block -->
                            </div><!-- /.col -->
                        }



                    </div><!-- /.row -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.module-body -->
    </div><!-- /.module -->
</section>
<!-- ============================================== TESTIMONIAL : END ============================================== -->