﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <link href="/Content/css/main.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="wrapper">
        <div id="page-content-wrapper" class="st-pusher">
            <div class="st-pusher-after"></div>
            <!-- ============================================== HEADER ============================================== -->
            <header class="header">
                <nav class="navbar navbar-bookshop navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 hidden-xs hidden-sm">
                                <ul class="nav navbar-nav">
                                    @*<li><a href="index.php?page=single-book">Online Store</a></li>
                                        <li><a href="index.php?page=about">About Us</a></li>
                                        <li><a href="index.php?page=about">Delivery</a></li>
                                        <li><a href="index.php?page=contact">FAQs</a></li>
                                        <li><a href="index.php?page=contact">Contacts</a></li>*@
                                </ul><!-- /.nav -->
                            </div><!-- /.col -->
                            <div class="col-md-3 col-xs-10 col-sm-10 navbar-left">
                                <p class='text-center'>
                                    @*    <a href="#"><span class="icon glyphicon glyphicon-earphone"></span> phone number here</a>*@
                                </p>
                            </div><!-- /.col -->
                            <div class="col-md-4 col-sm-2">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="hidden-xs hidden-sm"><a href="/User/Register/">Register</a></li>
                                    <li class="hidden-xs hidden-sm"><a data-toggle="modal" data-target="#modal-login-big" href="#">Login <i class="icon fa fa-lock"></i></a></li>
                                    <li class="hidden-lg hidden-sm hidden-md"><a data-toggle="modal" data-target="#modal-login-small" href="#">Login <i class="icon fa fa-lock"></i></a></li>
                                </ul><!-- /.nav -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </nav><!-- /.navbar -->
                <!-- Modal -->
                @Html.Action("LogIn", "User")
                <!-- Modal -->
                <div id="modal-login-small" class="modal fade login login-xs hidden-sm hidden-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="text-center">
                                    <div class="logo-holder">
                                        <a href="/"><img src="~/Content/images/logo.png"></a>
                                    </div>
                                    <form role="form" class="inner-top-50">
                                        <div class="form-group">
                                            <label for="entername" class="sr-only">Email</label>
                                            <input type="email" class="form-control bookshop-form-control" id="entername" placeholder="Hezy Theme">
                                        </div>
                                        <div class="form-group">
                                            <label for="enterpassword" class="sr-only">Password</label>
                                            <input type="password" class="form-control bookshop-form-control" id="enterpassword">
                                        </div>
                                        <button type="button" class="btn btn-primary btn-block btn-uppercase">Login</button>
                                        <a href="#" class='forgot-password'>forgot password</a>
                                    </form>
                                </div>
                            </div><!-- /.modal-body -->
                            <div class="modal-footer">
                                <div class="text-center">
                                    <ul class='social-list text-center'>
                                        @Html.Action("Social", "SideBar")
                                    </ul><!-- /.social-list -->
                                </div>
                            </div><!-- /.modal-footer -->
                            <a href="#" data-dismiss="modal" class="remove-icon"><i class="fa fa-times"></i></a>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="main-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 top-search-holder m-t-10">
                                <!-- ============================================== SEARCH BAR ============================================== -->
                                <form method="get" action="/search" class="search-form" role="search">
                                    <div class="form-group">
                                        <label class="sr-only" for="page-search">Type a book name...</label>
                                        <input id="page-search" name="q" class="search-input form-control" type="search" placeholder="Type a book name...">
                                    </div>
                                    <button class="page-search-button">
                                        <span class="fa fa-search">
                                            <span class="sr-only">Search</span>
                                        </span>
                                    </button>
                                </form>
                                <!-- ============================================== SEARCH BAR : END ============================================== -->
                            </div><!-- /.top-search-holder -->
                            <div class="col-xs-12 col-sm-4 col-md-4 text-center logo-holder">
                                <!-- ============================================== LOGO ============================================== -->
                                <a href="/"><img src="~/Content/images/logo.png"></a>
                                <!-- ============================================== LOGO : END ============================================== -->
                            </div><!-- /.logo-holder -->
                            <div class="col-xs-12  col-md-4  hidden-sm m-t-10">
                                <a href="/user/register/" class="download"><img src="~/Content/images/download.png" /></a>
                            </div>
                    </div>
                </div>

                @Html.Action("Menu", "Shared")
            </header>
            <!-- ============================================== HEADER : END ============================================== -->

            @RenderBody()
            <footer class="footer clearfix">
                <div class="margin-top-10">
                    <div class="container inner-top-vs">
                        <!-- ============================================== FOOTER-TOP ============================================== -->
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">About this site</h4>
                                    <div class="footer-module-body m-t-20 clearfix">
                                        <p><span class="pull-left"><img src="/Content/images/footer-logo.png" alt="Find your book" width="75" height="75"></span>
                                        FindYourBook.Com offers a new way to choose what to read next. Based on your choices, we suggest books which most closely match your needs.
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">Categories</h4>
                                    <div class="footer-module-body clearfix">
                                        <ul class="list-unstyled link-list">
                                            <li><a href="/category/computers">Computers</a></li>
                                            <li><a href="/category/mathematics">Mathematics</a></li>
                                            <li><a href="/category/science">Science</a></li>
                                            <li><a href="/category/social%20science">Social Science</a></li>
                                            <li><a href="/category/political%20science">Political Science</a></li>
                                            <li><a href="/category/history">History</a></li>
                                            <li><a href="/category/religion">Religion</a></li>
                                        </ul>
                                        <ul class="list-unstyled link-list">
                                            <li><a href="/category/music">Music</a></li>
                                            <li><a href="/category/education">Education</a></li>
                                            <li><a href="/category/juvenile%20nonfiction">Juvenile Nonfiction</a></li>
                                            <li><a href="/category/juvenile%20fiction">Juvenile Fiction</a></li>
                                            <li><a href="/category/travel">Travel</a></li>
                                            <li><a href="/category/law">Law</a></li>
                                            <li><a href="/category/drama">Drama</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 clearfix ">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">Information</h4>
                                    <div class="footer-module-body clearfix">
                                        <ul class="list-unstyled link-list">
                                            <li><a href="#">Books By Subject</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms Of Use</a></li>
                                        </ul>
                                        <ul class="list-unstyled link-list">
                                            <li><a href="#">Contact Us</a></li>
                                            <li><a href="#">Downloads</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">connect</h4>
                                    <div class="footer-module-body clearfix">
                                        <ul class="clearfix list-unstyled footer-social-contact">
                                            <li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
                                            <li><a href="#" class="fa fa-pinterest" title="Pinterest"></a></li>
                                            <li><a href="#" class="fa fa-linkedin" title="Linkedin"></a></li>
                                            <li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
                                            <li><a href="#" class="fa fa-google-plus" title="Google Plus"></a></li>
                                            <li><a href="#" class="fa fa-rss" title="Rss"></a></li>
                                            <li><a href="#" class="fa fa-instagram" title="Instagram"></a></li>
                                        </ul>
                                        <div class="inner-top-xs">
                                            <p>Subscribe to our monthly newsletter.</p>
                                            <form class="searchform" action="http://inspectelement.com/">
                                                <input class="s" type="text" placeholder="Email Address" name="s" value="">
                                                <input class="searchsubmit" type="submit" value="Subscribe">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================== FOOTER-TOP : END ============================================== --> <hr>
                        <!-- ============================================== FOOTER-BOTTOM ============================================== -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                  
                                </div>
                                <p class="copyright-footer pull-right">&copy; 2015 FindYourBook.Com. All rights reserved. Made with love by BP16</p>
                            </div>
                        </div>
                        <!-- ============================================== FOOTER-BOTTOM : END ============================================== -->
                    </div>
                </div>
            </footer>
            <!-- ============================================== FOOTER : END ============================================== -->
        </div><!-- /.st-pusher -->
    </div><!-- /#wrapper -->
    <script src="/Content/js/jquery-1.11.2.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/perfect-scrollbar.min.js"></script>
    <script src="/Content/js/jquery-ui.min.js"></script>
    <script src="/Content/js/jquery.customSelect.min.js"></script>
    <script src="/Content/js/jquery.easing-1.3.min.js"></script>
    <script src="/Content/js/wow.min.js"></script>
    <script src="/Content/js/echo.min.js"></script>
    <script src="/Content/js/scripts.js"></script>
</body>
</html>
