﻿@using Kitapci.Models
@model IEnumerable<Kitapci.Models.tbl_book_category>
<div class="header-nav animate-dropdown">
    <div class="container">
        <div class="nav-bg-class">
            <!-- ============================================================= NAVBAR PRIMARY ============================================================= -->
            <nav class="yamm navbar navbar-primary animate-dropdown" role="navigation">
                <div class="navbar-header">
                    <button id="btn-navbar-primary-collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!-- /.navbar-header -->
                <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                    <ul class="nav navbar-nav">

                        @foreach (tbl_book_category item in Model)
                        {
                            <li class="hidden-sm hidden-md">@Html.RouteLink(item.Category,"CategoryDetail",new { id= item.Category})</li>
                        }


                    </ul><!-- /.nav -->
                </div><!-- /.collapse navbar-collapse -->
            </nav><!-- /.yamm -->
            <!-- ============================================================= NAVBAR PRIMARY : END ============================================================= -->
        </div>
    </div>
</div>