﻿@using Kitapci.Models;
@model IEnumerable<Kitapci.Models.tbl_blog>





<div class="widget clearfix outer-bottom-xs">
<h4 class="blog-sidebar-title">Popular post</h4>
   
        
<div class="body m-t-20">
<ul class="clearfix list-unstyled">
     @foreach (Kitapci.Models.tbl_blog item in Model)
    {
<li class="media">
<div class="date-wrapper pull-left">
<div class="date">
<span class="day"> @(Convert.ToDateTime(item.Date).Day)</span>
<span class="month">@(Convert.ToDateTime(item.Date).Month)</span>
</div><!-- /.date -->
</div><!-- /.date-wrapper -->
<div class="media-body">
<h5><a href="#">@(item.Title.Substring(0,30))</a></h5>
<p class="comment-count">(@item.Hit)</p>
</div><!-- /.media-body -->
</li><!-- /.media -->
    }
 
</ul><!-- /.list-unstyled -->
</div><!-- /.body -->
 
</div><!-- /.widget -->