﻿@using Kitapci.Models;
@model IEnumerable<tbl_book_author_match>

<section class="books-categories wow fadeInUp outer-top-vs animated" style="visibility: visible; animation-name: fadeInUp;">
<div class="module" id="tab-books">
<div class="module-heading home-page-module-heading">
<h2 class="module-title home-page-module-title"><span>Books</span></h2>
</div><!-- /.module-heading -->
<div class="module-body">
<div class="row books full-width">
<div class="clearfix text-center">
<div class="text-center">
@*<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#new-releases" role="tab" data-toggle="tab">New Releases</a></li>
<li role="presentation"><a href="#bestsellers" role="tab" data-toggle="tab">Bestsellers</a></li>
<li role="presentation"><a href="#recommended" role="tab" data-toggle="tab">Recommended</a></li>
</ul>*@
</div>
<div class="tab-content m-t-20">
<div role="tabpanel" class="tab-pane active" id="new-releases">
       @foreach (tbl_book_author_match item in Model)
       {
        @Html.Partial("BookThumbPartial", item)
       }
</div>
@*<div role="tabpanel" class="tab-pane" id="bestsellers">
<div class="col-md-3 col-sm-4">
<div class="book">
<a href="index.php?page=single-book"><div class="book-cover">
<img width="140" height="212" src="assets/images/book-covers/05.jpg" alt="" >
</div></a>
<div class="book-details clearfix">
<div class="book-description">
<h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
<p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
</div>
<div class="actions">
<span class="book-price price">$7.95</span>
<div class="cart-action">
<a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
</div>
</div>
</div>
</div>
</div>
	</div>
<div role="tabpanel" class="tab-pane" id="recommended">
<div class="col-md-3 col-sm-4">
<div class="book">
<a href="index.php?page=single-book"><div class="book-cover">
<img width="140" height="212" src="assets/images/book-covers/04.jpg" alt="" >
</div></a>
<div class="book-details clearfix">
<div class="book-description">
<h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
<p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
</div>
<div class="actions">
<span class="book-price price">$12.00</span>
<div class="cart-action">
<a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
</div>
</div>
</div>
</div>
</div>
	</div>*@
</div>
</div>
</div>
</div>
</div>	<div class="divider">
<img class="img-responsive" src="assets/images/all-categories/shadow_all_categories_02.png.pagespeed.ce.qO2pbUtmc8.png" alt="">
</div>
</section>