﻿@model IEnumerable<Kitapci.Models.tbl_slider>

<!-- ========================================== SECTION – HERO : START ========================================= -->
<div id="hero">
    <div id="owl-main" class="owl-carousel owl-theme">
        @foreach (Kitapci.Models.tbl_slider item in Model)
        {
        <div class="item">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="book-in-shelf">
                                <div class="book-shelf">
                                    <div class="book-cover slider-book-cover bk-cover m-t-20">
                                        <img class="img-responsive" alt="" src="~/Content/images/slider-images/@item.Image" >
                                        <div class="fade"></div>
                                    </div>
                                    <!-- /.book-cover -->
                                </div>
                                <!-- /.book-shelf -->
                            </div>
                            <!-- /.book-in-shelf -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-5 col-sm-12 col-xs-12 description">
                            <div class="clearfix caption vertical-center text-left">
                                <div class="slider-caption-heading">
                                    <h1 class="slider-title">
                                        <span class="fadeInDown-1 main">@item.Title1</span>
                                        <span class="fadeInDown-2 sub">@item.Title2</span>
                                    </h1>
                                </div>
                                <!-- /.slider-caption-heading -->
                                <div class="clearfix slider-button hidden-xs fadeInDown-3">
                                    <a class="btn btn-primary btn-uppercase" role="button" href="@item.ButtonLink">@item.ButtonText</a>
                                </div>
                                <!-- /.slider-price -->
                            </div>
                            <!-- /.slider-caption -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.content.caption -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.item -->
        }
    </div>
    <!-- /# owl-main -->
</div>
<!-- /#hero -->
<!-- ========================================== SECTION – HERO : END ========================================= -->
