﻿@model Kitapci.Models.tbl_settings
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="contact-form-container">
<div id="map">
<script type="text/psajs" orig_index="0">//<![CDATA[
(function(){window.pagespeed=window.pagespeed||{};var b=window.pagespeed,c=function(){};c.prototype.a=function(){var a=document.getElementsByTagName("pagespeed_iframe");if(0<a.length){for(var a=a[0],f=document.createElement("iframe"),d=0,e=a.attributes,g=e.length;d<g;++d)f.setAttribute(e[d].name,e[d].value);a.parentNode.replaceChild(f,a)}};c.prototype.convertToIframe=c.prototype.a;b.b=function(){b.deferIframe=new c};b.deferIframeInit=b.b;})();
pagespeed.deferIframeInit();
//]]></script><pagespeed_iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.0080692193333!2d80.29172300000002!3d13.098675000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526f446a1c3187%3A0x298011b0b0d14d47!2sTransvelo!5e0!3m2!1sen!2sin!4v1415189477065"><script pagespeed_orig_type="text/javascript" type="text/psajs" orig_index="1">
pagespeed.deferIframe.convertToIframe();</script></pagespeed_iframe>
</div>
<div class="container">
<ul class="breadcrumb text-center">
<li><a href="index.php?page=home">Home</a></li>
<li class="active">Contact</li>
</ul><!-- /.breadcrumb -->
<div class="row inner-top-md">
<div class="col-md-10 center-block">
<div class="contact-block">
<div class="contact-form-envelope">
<div class="contact-box">
<div class="row">
<div class="col-md-8 col-sm-8">
<div class="contact-form">
<form id="contact-form" class="form-horizontal contact-form">
<div class="form-group">
<label class="control-label col-sm-3 info-title" for="name">Name</label>
<div class="col-sm-9">
<input id="name" class="form-control bookshop-form-control" type="text" placeholder="Hezy Theme" name="from">
</div><!-- /.col -->
</div><!-- /.form-group -->
<div class="form-group">
<label class="control-label col-sm-3 info-title" for="email">Email</label>
<div class="col-sm-9">
<input id="email" class="form-control bookshop-form-control" type="text" placeholder="" name="from">
</div><!-- /.col -->
</div><!-- /.form-group -->
<div class="form-group">
<label class="control-label col-sm-3 info-title" for="subject">Subject</label>
<div class="col-sm-9">
<input id="subject" class="form-control bookshop-form-control" type="text" placeholder="" name="from">
</div><!-- /.col -->
</div><!-- /.form-group -->
<div class="form-group">
<label class="control-label col-sm-3 info-title" for="message">Message</label>
<div class="col-sm-9">
<textarea id="message" class="form-control bookshop-form-control" rows="5"></textarea>
</div><!-- /.col -->
</div><!-- /.form-group -->
<div class="form-group">
<label class="control-label col-sm-3 info-title sr-only"></label>
<div class="col-sm-9">
<button class="btn-uppercase btn btn-primary " type="submit">submit</button>
</div><!-- /.col -->
</div><!-- /.form-group -->
</form>
</div><!-- /.contact-form -->
</div><!-- /.col -->
<div class="col-md-4 col-sm-4">
<section class="contact-detail">
<div class="head-office-address">
<h4 class="title">Head Office</h4>
<address>
@Model.ContactAddress
</address>
<p class="@Model.ContactFax"><span>Fax:</span>+1 212 691 1303</p>
<p class="@Model.ContactPhone"><span>Tel:</span>+1 212 691 6862</p>
<p class="@Model.ContactEmail"><span>E-mail:</span><a href="#">hello@hezy,org</a></p>
</div>
<hr>

<hr>
<div class="social-connection">
<h4 class="title">Connect with Hezy Theme</h4>
<ul class="social-connection-list list-inline">
<li><a href="@Model.FacebookURL"><i class="fa fa-facebook"></i></a></li>
<li><a href="@Model.PinterestURL"><i class="fa fa-pinterest"></i></a></li>
<li><a href="@Model.LinkedinURL"><i class="fa fa-linkedin"></i></a></li>
<li><a href="@Model.TwitterURL"><i class="fa fa-twitter"></i></a></li>
<li><a href="@Model.RSSURL"><i class="fa fa-rss"></i></a></li>
<li><a href="@Model.InstagramURL"><i class="fa fa-instagram"></i></a></li>
</ul>
</div>
</section>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.contact-box -->
</div><!-- /.contact-form-envelope -->
</div>
</div>
</div><!-- /.row -->
</div><!-- /.container -->
</div>