﻿@model Kitapci.Models.tbl_book_author_match

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<div class="content wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
<div class="container">

<div class="row inner-top-xs single-book-block">
<div class="col-md-9 col-md-push-3">
<!-- .primary block -->
<div class="single-book primary-block">
<div class="row">
<div class="col-md-5 col-sm-5">
<div class="book-cover">
<img width="268" height="408" alt="" src="@Model.tbl_book.ImageThumbnail">
</div><!-- /.book-cover -->
<div class="share-button">
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_native_toolbox inner-top-vs"></div>
</div>
<div class="list-unstyled link-block inner-top-50">
<a href="#customer-reviews" class="customer-review"><i class="icon fa fa-comment"></i><span class="customer-review"> Latest Comments(7) ↓ </span></a>
</div>
</div>
<div class="col-md-7 col-sm-7">
<div class="featured-book-heading">
<h1 class="title">@Model.tbl_book.Title</h1>
<p class="singl-book-author">
by
<a href="#">@Model.tbl_author.Author</a>
</p>
</div>

<div class="description"><p>@Model.tbl_book.Description</p></div>
</div>
</div>
</div>	<!-- /.primary block -->
<div class="divider inner-top-xs">
<img src="/Content/images/shadow.png" class="img-responsive">
</div>
<div class="module wow fadeInUp" style="visibility: hidden; animation-name: none;">
<div class="module-heading home-page-module-heading">
<h2 class="module-title home-page-module-title"><span>Related Products</span></h2>
<p class="see-all-link"><a href="#">See All</a> →</p>
</div>
<div class="module-body">
<div class="row text-center">
<!-- .related product -->
  @Html.Action("RelatedBook","Shared");

<!-- /.related product -->
</div>
</div>
</div>
<div class="divider inner-top-xs">
<img src="/Content/images/shadow.png" class="img-responsive">
</div>
@Html.Action("BookComment","Comment")	
</div><!-- /.col -->
<div class="col-md-3 col-md-pull-9">
<aside class="sidebar bookdetail">
@Html.Action("SidebarCategories","Sidebar")
    </aside>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container -->
</div>
