﻿@using Kitapci.Models
@model IEnumerable<tbl_book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="all-categories content">
    <div class="container">
        <div class="row">
            <div class="categories-breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">@(ViewBag.CategoryName[0].ToUpper() + ViewBag.CategoryName.SubString(1))</li>
                </ul>
            </div>
            <div class="divider">
                <img class="img-responsive" src="/Content/images/all-categories/shadow_all_categories_01.png" alt="All Book Categories">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container">

        <section class="books-categories wow fadeInUp outer-top-vs animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="module" id="tab-books">

                <div class="module-body">
                    <div class="row books full-width">
                        <div class="clearfix text-center">

                            @foreach (tbl_book b in Model)
                            {
                                if (b != null)
                                {
                                    @Html.Partial("BookThumbPartial", b)
                                }}

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div><!-- /.container -->
</div>
