﻿@using Kitapci.Models
@model IEnumerable<tbl_book_category_match>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>
<div class="all-categories content">
    <div class="container">
        <div class="row">
            <div class="categories-breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">@Model.FirstOrDefault().tbl_book_category.Category</li>
                </ul>
            </div>
            <div class="divider">
                <img class="img-responsive" src="/Content/images/all-categories/shadow_all_categories_01.png" alt="All Book Categories">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    @Html.Action("CategoryList", "Shared")
    @*<div class="categories-menu-outer wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
        <div class="categories-menu outer-xs">
        <ul class="static-menu">
        <li>
        <div class="menu-content">
        <div class="menu-raper">
        <div class="row">
        <div class="col-md-3 col-sm-3">
        <div class="section">
        <h3 class="title">Books</h3>
        <ul class="links list-unstyled">
        <li><a href="index.php?page=books">Trending Books</a></li>
        <li><a href="index.php?page=books">Bargain Books</a></li>
        <li><a href="index.php?page=books">Coming Soon</a></li>
        <li><a href="index.php?page=books">Featured New Arrivals</a></li>
        <li><a href="index.php?page=books">B &amp; N Top 100</a></li>
        <li><a href="index.php?page=books">Free Book Offer</a></li>
        <li><a href="index.php?page=books">Oprah's Book Club</a></li>
        <li><a href="index.php?page=books">Bookstore Home</a></li>
        </ul>
        </div><!-- /.section -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-3">
        <div class="section">
        <h3 class="title">Music</h3>
        <ul class="links list-unstyled">
        <li><a href="index.php?page=books">Art, Architecture &amp; Photography</a></li>
        <li><a href="index.php?page=books">Bibles &amp; Bible Studies</a></li>
        <li><a href="index.php?page=books">Biographies</a></li>
        <li><a href="index.php?page=books">Business &amp; Money</a></li>
        <li><a href="index.php?page=books">Children's Books</a></li>
        <li><a href="index.php?page=books">Computing &amp; Internet</a></li>
        <li><a href="index.php?page=books">Cookbooks, Food &amp; Wine</a></li>
        </ul>
        </div><!-- /.section -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-3">
        <div class="section">
        <h3 class="title">Magazines</h3>
        <ul class="links list-unstyled">
        <li><a href="index.php?page=books">Crafts &amp; Hobbies</a></li>
        <li><a href="index.php?page=books">Bibles &amp; Bible Studies</a></li>
        <li><a href="index.php?page=books">Biographies</a></li>
        <li><a href="index.php?page=books">Business &amp; Money</a></li>
        <li><a href="index.php?page=books">Children's Books</a></li>
        <li><a href="index.php?page=books">Computing &amp; Internet</a></li>
        <li><a href="index.php?page=books">Cookbooks, Food &amp; Wine</a></li>
        <li><a href="index.php?page=books">Diet &amp; Health</a></li>
        </ul>
        </div><!-- /.section -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-3">
        <div class="section">
        <h3 class="title">Movies</h3>
        <ul class="links list-unstyled">
        <li><a href="index.php?page=books">Biographies</a></li>
        <li><a href="index.php?page=books">History</a></li>
        <li><a href="index.php?page=books">Fiction</a></li>
        <li><a href="index.php?page=books">Romance</a></li>
        <li><a href="index.php?page=books">Adventure</a></li>
        <li><a href="index.php?page=books">Science-Fiction</a></li>
        <li><a href="index.php?page=books">Sports</a></li>
        </ul>
        </div><!-- /.section -->
        </div><!-- /.col -->
        </div>
        </div>	</div>
        </li>
        </ul>
        </div><!-- /.categories-menu-->
        </div><!-- /.container -->
        </div><!-- /.categories-menu-outer -->*@
    <div class="container">

        @Html.Action("RandomBook", "Shared")

        <section class="books-categories wow fadeInUp outer-top-vs animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="module" id="tab-books">
                <div class="module-heading home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Books</span></h2>
                </div><!-- /.module-heading -->
                <div class="module-body">
                    <div class="row books full-width">
                        <div class="clearfix text-center">
                            <div class="text-center">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#new-releases" role="tab" data-toggle="tab">New Releases</a></li>
                                    <li role="presentation"><a href="#bestsellers" role="tab" data-toggle="tab">Bestsellers</a></li>
                                    <li role="presentation"><a href="#recommended" role="tab" data-toggle="tab">Recommended</a></li>
                                </ul>
                            </div>
                            <div class="tab-content m-t-20">
                                <div role="tabpanel" class="tab-pane active" id="new-releases">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/01.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar Wao</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.75</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/02.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.45</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/03.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">R. J. Palacio</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$9.59</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/04.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$12.00</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/05.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$7.95</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/01.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar Wao</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.75</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/02.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.45</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/03.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">R. J. Palacio</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$9.59</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/04.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$12.00</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 hidden-sm">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/05.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$7.95</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="bestsellers">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/05.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$7.95</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/04.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$12.00</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/03.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">R. J. Palacio</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$9.59</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/02.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.45</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/01.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar Wao</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.75</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/01.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar Wao</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.75</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/02.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.45</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/03.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">R. J. Palacio</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$9.59</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/04.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$12.00</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 hidden-sm">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/05.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$7.95</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="recommended">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/04.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$12.00</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/01.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar Wao</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.75</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/02.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.45</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/03.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">R. J. Palacio</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$9.59</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/02.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.45</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/05.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$7.95</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/01.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar Wao</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$14.75</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/03.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">R. J. Palacio</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$9.59</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/04.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$12.00</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 hidden-sm">
                                        <div class="book">
                                            <a href="index.php?page=single-book">
                                                <div class="book-cover">
                                                    <img width="140" height="212" src="/Content/images/book-covers/05.jpg" alt="">
                                                </div>
                                            </a>
                                            <div class="book-details clearfix">
                                                <div class="book-description">
                                                    <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                                    <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                                </div>
                                                <div class="actions">
                                                    <span class="book-price price">$7.95</span>
                                                    <div class="cart-action">
                                                        <a class="add-to-cart" title="Add to Cart" href="index.php?page=single-book">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	<div class="divider">
                <img class="img-responsive" src="/Content/images/all-categories/shadow_all_categories_02.png" alt="">
            </div>
        </section>

    </div><!-- /.container -->

    @Html.Action("Blog", "Shared")
</div>
