﻿@using Kitapci.Models
@model IEnumerable<Kitapci.Models.tbl_book_author_match>

@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="module inner-top-sm wow fadeInUp animated" id="books-by-subject" style="visibility: visible; animation-name: fadeInUp;">
                <div class="module-heading home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Books by @ViewBag.AuthorName</span></h2>
                    <p class="see-all-link"><a href="#">See All</a> →</p>
                </div><!-- /.module-heading -->
                <div class="module-body clearfix">
                    <div class="books full-width text-center">
                        <!-- .by author -->
                    @foreach(tbl_book_author_match t in Model) {
                        <div class="col-md-3 col-sm-4 books-by-subject">
                            <div class="book">
                                <div class="book-cover">
                                    <img src="@t.tbl_book.ImageSmallThumbnail" alt="@t.tbl_book.Title by @t.tbl_author.Author" width="140" height="212">
                                </div>
                                <div class="book-details clearfix">
                                    <div class="book-description">
                                        <h3 class="book-title"><a href="#">Art, Architecture &amp; Photography</a></h3>
                                        <p class="item-number">310 items</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col --> 
                    }
                       <!-- /.by author -->
                    </div><!-- /.row -->
                </div><!-- /.module-body -->
            </div><!-- /.module -->
            <div class="module inner-top-50 wow fadeInUp animated" id="best-seller" style="visibility: visible; animation-name: fadeInUp;">
                <div class="module-heading  home-page-module-heading">
                    <h2 class="module-title home-page-module-title"><span>Best Sellers</span></h2>
                </div><!-- /.module-heading -->
                <div class="module-body">
                    <div class="books full-width">
                        <div class="clearfix text-center">
                            <!-- .best month -->
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/01.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar Wao</a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy</a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$14.75</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/02.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep </a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$14.45</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/03.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">R. J. Palacio</a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$9.59</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/04.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book"> Hezy Theme</a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$12.00</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/05.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$7.95</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/10.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">From Kant to Husserl</a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">Cormac McCarthy </a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$101.00</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/11.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">Doctor Sleep</a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">Stephen King</a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$19.45</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/12.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">Wonder Hardcover</a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">R.J.Palacio</a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$7.11</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/13.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">The Brief Wondrous Life of Oscar</a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">Hezy Theme </a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$14.65</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="book">
                                    <a href="index.php?page=single-book">
                                        <div class="book-cover">
                                            <img width="140" height="212" alt="" src="assets/images/book-covers/14.jpg" pagespeed_url_hash="1623914342" data-pagespeed-onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_lsc_url="http://demo2.transvelo.in/html/bookshop/assets/images/blank.gif" pagespeed_lsc_hash="UlLqMiiNKT" pagespeed_lsc_expiry="Tue, 02 Feb 2016 07:19:34 GMT" onload="var elem=this;if (this==window) elem=document.body;elem.setAttribute('data-pagespeed-loaded', 1)" data-pagespeed-loaded="1">
                                        </div>
                                    </a>
                                    <div class="book-details clearfix">
                                        <div class="book-description">
                                            <h3 class="book-title"><a href="index.php?page=single-book">How Dogs Love Us: A Neuroscientist and His Dog </a></h3>
                                            <p class="book-subtitle">by <a href="index.php?page=single-book">Gregory Berns </a></p>
                                        </div>
                                        <div class="actions">
                                            <span class="book-price price">$7.95</span>
                                            <div class="cart-action">
                                                <a class="add-to-cart" title="Add to Cart" href="javascript:void(0);">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>	<!-- /.best month -->
                        </div><!-- /.text-center -->
                    </div><!-- /.row -->
                </div><!-- /.module-body -->
            </div><!-- /.module -->
        </div>
    </div>
</div>