﻿@using Kitapci.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <section class="books-categories wow fadeInUp outer-top-vs animated" style="visibility: visible; animation-name: fadeInUp;">
        <div class="module" id="tab-books">
            <div class="module-heading home-page-module-heading">
                <h2 class="module-title home-page-module-title"><span>Search Results</span></h2>
               @ViewBag.Sayi results found for <strong>@ViewBag.Aranan</strong>
            </div><!-- /.module-heading -->
            <div class="module-body">
                <div class="row books full-width">
                    <div class="clearfix text-center">
                        <div class="text-center">
                            <ul class="nav nav-tabs" role="tablist">
                                @if (ViewBag.SonCikanSay > 0)
                                {
                                    <li role="presentation" class="active"><a href="#new-releases" role="tab" data-toggle="tab">New Releases (@ViewBag.SonCikanSay)</a></li>
                                }
                                @if (ViewBag.BestSellerSay > 0)
                                {
                                    <li role="presentation"><a href="#bestsellers" role="tab" data-toggle="tab">Bestsellers (@ViewBag.BestSellerSay)</a></li>
                                }
                                @if (ViewBag.OnerilenSay > 0)
                                {
                                    <li role="presentation"><a href="#recommended" role="tab" data-toggle="tab">Recommended (@ViewBag.OnerilenSay)</a></li>
                                }
                            </ul>
                        </div>


                    </div>
                    <div class="tab-content m-t-20">
                        @if (ViewBag.SonCikanSay > 0)
                        {
                            <div role="tabpanel" class="tab-pane active" id="new-releases">
                                @foreach (tbl_book item in ViewBag.SonCikanlar)
                            {
                          @Html.Partial("BookThumbPartial",item)
                            }
                            </div>
                        } 
                        @if (ViewBag.BestSellerSay > 0)
                        {
                            <div role="tabpanel" class="tab-pane" id="bestsellers">
                                @foreach (tbl_book item in ViewBag.Bestseller)
                                {
                                    @Html.Partial("BookThumbPartial", item)
                                }
                            </div>
                            } 
                        @if (ViewBag.OnerilenSay > 0)
                        {
                        <div role="tabpanel" class="tab-pane" id="recommended">
                            @foreach (tbl_book item in ViewBag.Onerilenler)
                            {
                                @Html.Partial("BookThumbPartial", item)
                            }
                        </div>
                        }
                    </div>
                </div>
            </div>	<div class="divider">
                <img class="img-responsive" src="/Content/images/all-categories/shadow_all_categories_02.png" alt="">
            </div>
        </div>
    </section>

</div>