﻿@model Kitapci.Models.tbl_user

<div id="modal-login-big" class="modal login fade hidden-xs" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<div class="text-center">
<ul class="login-list clearfix ">
<li class='active'>Login</li>
<li class="divider"></li>
<li><a href="#">Sign Up</a></li>
</ul><!-- /.login-list -->
<div role="form" class="inner-top-50">
<div class="form-group">
 
<label for="exampleInputEmail1" class="sr-only">Email address</label>
       @Html.TextBoxFor(Model =>Model.Email)
@*<input type="email" class="form-control bookshop-form-control" id="exampleInputEmail1" placeholder="Hezy Theme">*@
</div>
<div class="form-group">
<label for="exampleInputPassword1" class="sr-only">Password</label>
    @Html.TextBoxFor(Model => Model.Password)
@*<input type="password" class="form-control bookshop-form-control" id="exampleInputPassword1">*@
</div>
<button type="button" class="btn btn-primary btn-uppercase">Login</button>
<a href="#" class='forgot-password'>forgot password</a>
</div>
</div>
</div><!-- /.modal-body -->
<div class="modal-footer">
<div class="text-center">
<ul class='social-list text-center'>
<li><a href="#" class="facebook"></a></li>
<li><a href="#" class="google-plus"></a></li>
<li><a href="#" class="twitter"></a></li>
<li><a href="#" class="pinterest"></a></li>
</ul><!-- /.social-list -->
</div>
</div><!-- /.modal-footer -->
<a href="#" data-dismiss="modal" class="remove-icon"><i class="fa fa-times"></i></a>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->